**/__pycache__

ChromFound/src/checkpoints/*.yaml
ChromFound/src/checkpoints/*.pt

ChromFound/sample_data/PBMC169K/*.h5ad
!ChromFound/sample_data/PBMC169K/.gitkeep

ChromFound/sample_data/PBMC169K/cell_embedding

data/*